@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fjalla+One&display=swap');
* {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#github-img {
  width:5vh;
  height: 5vh;
  text-align: end;
  position: absolute;
  justify-content: end;
  align-items: baseline;
  margin-top: 22%;
}
#github-img:hover{
  transition: 0.3s;
  height: 7vh;
  width: 7vh;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 9px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

/* demo */
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background: linear-gradient(-45deg, #363636, #61643f);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#info-text {
  color: rgb(163, 163, 163);
  text-align: center;
}



#odds-text{
  color:coral;
  font-family:  'Acme', sans-serif;
}

@media only screen and (max-width: 797px) {
  #github-img {
    width:5vh;
    height: 5vh;
    text-align: end;
    position: absolute;
    justify-content: end;
    align-items: baseline;
    margin-top: 99%;
  }
  #github-img:hover{
    transition: 0.3s;
    height: 7vh;
    width: 7vh;
  }

  #info-text{
    font-size: 100%;
  }
}